Distribuidora/Service References/WSListadoPorTipoReference/ServicioListadoPorTipo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49054/ServicioListadoPorTipo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DistribuidoraServicios" />
  <xs:element name="listadoFabricados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listadoFabricadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DistribuidoraServicios" minOccurs="0" name="listadoFabricadosResult" nillable="true" type="q1:ArrayOfDTOListadoPorTipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listadoImportados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listadoImportadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DistribuidoraServicios" minOccurs="0" name="listadoImportadosResult" nillable="true" type="q2:ArrayOfDTOListadoPorTipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>