Distribuidora/Service References/WSProdReference/ServicioProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioProducto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49054/ServicioProducto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49054/ServicioProducto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductoService_insertarImportado_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarImportado" />
  </wsdl:message>
  <wsdl:message name="IProductoService_insertarImportado_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarImportadoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_insertarFabricado_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarFabricado" />
  </wsdl:message>
  <wsdl:message name="IProductoService_insertarFabricado_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarFabricadoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_actualizarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IProductoService_actualizarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductoService">
    <wsdl:operation name="insertarImportado">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/insertarImportado" message="tns:IProductoService_insertarImportado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/insertarImportadoResponse" message="tns:IProductoService_insertarImportado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarFabricado">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/insertarFabricado" message="tns:IProductoService_insertarFabricado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/insertarFabricadoResponse" message="tns:IProductoService_insertarFabricado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/actualizarEmpleado" message="tns:IProductoService_actualizarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/actualizarEmpleadoResponse" message="tns:IProductoService_actualizarEmpleado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductoService" type="tns:IProductoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarImportado">
      <soap:operation soapAction="http://tempuri.org/IProductoService/insertarImportado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarFabricado">
      <soap:operation soapAction="http://tempuri.org/IProductoService/insertarFabricado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarEmpleado">
      <soap:operation soapAction="http://tempuri.org/IProductoService/actualizarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioProducto">
    <wsdl:port name="BasicHttpBinding_IProductoService" binding="tns:BasicHttpBinding_IProductoService">
      <soap:address location="http://localhost:49054/ServicioProducto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>