Distribuidora/Service References/WSTodosProductosReference/ServicioListadoTodosProducto2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DistribuidoraServicios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DistribuidoraServicios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDTOListadoTodosProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOListadoTodosProducto" nillable="true" type="tns:DTOListadoTodosProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOListadoTodosProducto" nillable="true" type="tns:ArrayOfDTOListadoTodosProducto" />
  <xs:complexType name="DTOListadoTodosProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOListadoTodosProducto" nillable="true" type="tns:DTOListadoTodosProducto" />
</xs:schema>