Distribuidora/Service References/WFEmpleadoReference/ServicioEmpleado2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DistribuidoraServicios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DistribuidoraServicios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTOEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOEmpleado" nillable="true" type="tns:DTOEmpleado" />
</xs:schema>