Distribuidora/Service References/WSAsignacionReference/ServicioAsignacionTecnico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioAsignacionTecnico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49054/ServicioAsignacionTecnico.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49054/ServicioAsignacionTecnico.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49054/ServicioAsignacionTecnico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DistribuidoraServicios" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAsignacionTecnico_ListaTecnicos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaTecnicos" />
  </wsdl:message>
  <wsdl:message name="IAsignacionTecnico_ListaTecnicos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaTecnicosResponse" />
  </wsdl:message>
  <wsdl:message name="IAsignacionTecnico_ListaProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaProductos" />
  </wsdl:message>
  <wsdl:message name="IAsignacionTecnico_ListaProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IAsignacionTecnico_AsignacionTecnico_InputMessage">
    <wsdl:part name="parameters" element="tns:AsignacionTecnico" />
  </wsdl:message>
  <wsdl:message name="IAsignacionTecnico_AsignacionTecnico_OutputMessage">
    <wsdl:part name="parameters" element="tns:AsignacionTecnicoResponse" />
  </wsdl:message>
  <wsdl:portType name="IAsignacionTecnico">
    <wsdl:operation name="ListaTecnicos">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsignacionTecnico/ListaTecnicos" message="tns:IAsignacionTecnico_ListaTecnicos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsignacionTecnico/ListaTecnicosResponse" message="tns:IAsignacionTecnico_ListaTecnicos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsignacionTecnico/ListaProductos" message="tns:IAsignacionTecnico_ListaProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsignacionTecnico/ListaProductosResponse" message="tns:IAsignacionTecnico_ListaProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AsignacionTecnico">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsignacionTecnico/AsignacionTecnico" message="tns:IAsignacionTecnico_AsignacionTecnico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsignacionTecnico/AsignacionTecnicoResponse" message="tns:IAsignacionTecnico_AsignacionTecnico_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAsignacionTecnico" type="tns:IAsignacionTecnico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaTecnicos">
      <soap:operation soapAction="http://tempuri.org/IAsignacionTecnico/ListaTecnicos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaProductos">
      <soap:operation soapAction="http://tempuri.org/IAsignacionTecnico/ListaProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsignacionTecnico">
      <soap:operation soapAction="http://tempuri.org/IAsignacionTecnico/AsignacionTecnico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioAsignacionTecnico">
    <wsdl:port name="BasicHttpBinding_IAsignacionTecnico" binding="tns:BasicHttpBinding_IAsignacionTecnico">
      <soap:address location="http://localhost:49054/ServicioAsignacionTecnico.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>