Distribuidora/Service References/WSProductoReference/ServicioProducto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarImportado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="costo" type="xs:double" />
        <xs:element minOccurs="0" name="precioSugerido" type="xs:double" />
        <xs:element minOccurs="0" name="paisOrigen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantMinima" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarImportadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarImportadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>