Distribuidora/Service References/ServiceReferenceListadoProdFab/ServicioListadoProdFab1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49054/ServicioListadoProdFab.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DistribuidoraServicios" />
  <xs:element name="listado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DistribuidoraServicios" minOccurs="0" name="listadoResult" nillable="true" type="q1:ArrayOfDTOListadoProdFab" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>