Distribuidora/Service References/ServiceReferenceListadoProdFab/ServicioListadoProdFab2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DistribuidoraServicios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DistribuidoraServicios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDTOListadoProdFab">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOListadoProdFab" nillable="true" type="tns:DTOListadoProdFab" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOListadoProdFab" nillable="true" type="tns:ArrayOfDTOListadoProdFab" />
  <xs:complexType name="DTOListadoProdFab">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOListadoProdFab" nillable="true" type="tns:DTOListadoProdFab" />
</xs:schema>